/* 공통 */
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", Helvetica, sans-serif,
    Arial;
}
a {
  text-decoration: none;
  color: #555;
}
ul,
ol {
  list-style: none;
}
input,
textarea {
  outline: none;
}
img {
  border-style: none;
  max-width: 100%;
}
button {
  outline: none;
  border: none;
}
#wrapper {
  width: 100%;
  min-width: 1200px;
}

header {
  min-width: 1200px;
  width: 1800px;
  height: 105px;
  margin: 0 auto;
}

header > div {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

header > .logo img {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 200px;
}

header > .search input {
  position: absolute;
  top: 60px;
  left: 400px;
  width: 950px;
  height: 70px;
}

header > .search img {
  position: absolute;
  top: 63px;
  left: 1260px;
  width: 70px;
}

header > .plus img {
  position: absolute;
  top: 45px;
  right: 270px;
  width: 90px;
}

header > .chat img {
  position: absolute;
  top: 53px;
  right: 122px;
  width: 90px;
}

main {
  min-width: 1200px;
  width: 100%;
  height: auto;
  min-height: 900px;
  margin: 0 auto;
  padding-top: 150px;
}

main > section {
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}

.friend {
  padding: 30px;
  width: 500px;
  height: 850px;
  border: 1px solid #c2c1c1;
  margin-left: 300px;
}

.friend h3 {
  font-size: 35px;
  margin: 18px;
}
.friend a {
  font-size: 20px;
  float: right;
  margin-top: -53px;
  margin-right: 240px;
}

.friend ul {
  margin: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left; /* this centers the items vertically */
  align-items: left;
}

.friend ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.friend ul > li p {
  margin-left: 50px;
  font-size: 27px;
}
.friend ul > li img:nth-of-type(2) {
  margin-left: 150px;
  font-size: 24px;
}

footer {
  margin-top: 100px;
  height: 100px;
  background: #ceebde;
  padding: 43px 0 75px;
}
.footer-col:first-child {
  max-width: 524px;
}
.footer .container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.info {
  margin: 0 -8px;
}
.info li {
  float: left;
  padding: 8px;
  line-height: 0.8;
  font-size: 17px;
  color: #0d4e31;
  font-weight: 300;
}
.info li:first-child {
  font-weight: bold;
  font-weight: 700;
}
.link {
  margin: -10px;
}
.link li {
  float: left;
  padding: 0 2px;
}
.link li a {
  display: block;
  line-height: 1;
  font-family: bold;
  font-size: 17px;
  color: #0d4e31;
  font-weight: 700;
  padding: 2px;
  margin: 0 2px 10px;
}
